.container-aboutUs{
   padding: 8rem 12rem;
   position: relative;
   background: black;
   .number1{
      position: absolute;
      color: whitesmoke;
      font-size: 40rem;
      top: -15%;
      right: 10%;
      z-index: -1;
   }
   .aboutUs {
      transition: 1s ease-in-out;
      color: white;
      span{
         color: rgb(255, 110, 176);
      }
      p {
         padding-left: 5rem;
         border-left: 1px solid lightgray;
         margin-top: 2rem;
      }
   }
}